@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";

}
@* ************** Content ************** *@
<h4 class="py-3 mb-4">
    <span class="text-muted fw-light">Account /</span> Set Role
</h4>

<!-- Basic Bootstrap Table -->
<div class="card">
    <h5 class="card-header">Table Basic</h5>
    <div class="table-responsive text-nowrap">
        <table class="table">
            <thead>
                <tr>
                    <th>UserName</th>
                    <th>Email</th>
                    <th>User</th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0" id="SetRoleAccount">
            </tbody>
        </table>
    </div>
</div>
<!--/ Basic Bootstrap Table -->