@model IEnumerable<ProjectPRN.Models.Product>

@{
    ViewData["Title"] = "Shop";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}

<p>
    <a asp-action="Create">Create New</a>
</p>

<section class="shop_section layout_padding py-4">
    <div class="container-fluid">
        <div class="heading_container heading_center">
            <h2>
                Latest Products
            </h2>
        </div>
        <div class="row">
            <div class="col-3 p-0">
                <input class="form-control" type="text" id="searchInput" placeholder="Enter search term...">

            </div>
            <div class="col-3">
                <button class="btn btn-outline-primary" id="searchButton">🔎</button>
            </div>
            
        </div>
        <div class="row item-product-admin">
            
        </div>
    </div>
    <div class="m-4">
        <button class="btn btn-outline-primary" id="prevPage" disabled>Previous</button>
        <button class="btn btn-outline-primary" id="nextPage">Next</button>
    </div>
</section>
