@model IEnumerable<ProjectPRN.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var addToCartButtons = document.getElementsByClassName("addToCart");

    }

</script>
<section class="shop_section layout_padding py-4">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Latest Products
            </h2>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="box">
                        <div>
                            <div class="img-box">
                                <img src=@item.Image alt="">
                            </div>
                            <div class="detail-box">
                                <h6>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </h6>
                                <h6>
                                    Price
                                    <span>
                                        $ @Html.DisplayFor(modelItem => item.Price)
                                    </span>
                                </h6>
                            </div>
                            <div class="new">
                                <span>
                                    New
                                </span>
                            </div>
                            <div class="w-100 text-end"><button type="submit" class="btn btn-success">Add to cart</button></div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

</section>
