@model IEnumerable<ProjectPRN.Models.Product>

@{
    ViewData["Title"] = "Shop";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}

<p>
    <a asp-action="Create">Create New</a>
</p>

<section class="shop_section layout_padding py-4">
    <div class="row item-product-admin">
    </div>
    </div>
    <div class="m-4">
        <button class="btn btn-outline-primary" id="prevPageAdmin" disabled>Previous</button>
        <button class="btn btn-outline-primary" id="nextPageAdmin">Next</button>
    </div>
</section>
